/*body*/
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
}
header .container a .vivo{
    width: 80px;
    height: 40px;
}
header .navbar-default .navbar-nav{
    margin-left: 30%;
}
header .navbar-default .navbar-nav>li>a:hover{
    color: #008ddd;
    text-decoration: inherit;
}
header .container .entry{
    float: right;
}
header .container .entry a{
    text-decoration: none;
    color: #000;
}
header .container .entry a:hover{
    color: red;
}
/*banner*/

#banner{
    width: 100%;
}
/*#banner .banner_top{
    background: url("../img3/bj1.jpg") no-repeat;
    background-size: 100% 100%;
    height: 500px;
}*/
@media only screen and (min-width:350px ) {
	#banner .banner_top{
		 background: url("../img3/bj1.jpg") no-repeat;
         background-size: 100% 100%;
        height: 300px;
	}
}
#banner .banner_center{
    background: url("../img3/bj2.jpg");
    background-size: 100%;
    height: 500px;
    margin-top: 15%;
}
/*footer*/
footer .list-unstyled li a{
    text-decoration: none;
    color: #008ddd;
}
#footer{
    width: 100%;
    height: 100px;
    clear: both;
}
#footer .line{
    width: 100%;
    height: 2px;
    background: gray;
    margin-top: 2%;
}
#footer .text{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
#footer .text a{
    text-decoration: none;
    color: #000;
}
#footer .text a:hover{
    color: red;
}